@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-main{
    color: #FEC310;
    font-size: 100px;
    text-align: center;
    text-size-adjust: relative;
    margin: 0px;
    background-color: #56042C;
}

.description{
    color: #FEC310;
    text-align: center;
    text-size-adjust: relative;
    margin: 0px;
    background-color: #56042C;
}

.container{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #56042C;
    column-gap: 30px;
    /* padding-top:; */
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: #FFF;
}

.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}

header{
    font-size: 28px;
    font-weight: 600;
    color: black;
    text-align: center;
}

form{
    margin-top: 30px;
}

form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus{
    border-bottom-width: 2px;
}

.field button{
    color: #FFF;
    background-color: #49BCE3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button{
    background-color: #49BCE3;
}

.form-link{
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
}

.form a{
    text-decoration: none;
}

.form-content a:hover{
    text-decoration: underline;
}

.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #CACACA;
}

#message {
    display: none;
    color: 000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 14px;
}

#confirmation-match {
    display: none;
    color: 000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#confirmation-match p {
    padding: 10px 35px;
    font-size: 14px;
}

.valid {
    color: green;
}

.valid::before {
    position: relative;
    left: -35px;
    content: "✔";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
