*{
    background-color: #56042C;
}

.header-main{
    color: #FEC310;
    font-size: 100px;
    text-align: center;
    text-size-adjust: relative;
}

.description{
    color: #FEC310;
    text-align: center;
    text-size-adjust: relative;
}

.missing-btn{
    background-color: #1077C3;
    text-align: center;
    border-radius: 6px;
    border: none;
    color: #FEC310;
    display: inline-block;
    font-size: 18px;
    padding: 10px 24px;
    margin-left: 50px;
}

.menu-btns button:hover {
    box-shadow: 5px 5px 3px black ;
}

.album-btn{
    background-color: #1077C3;
    text-align: center;
    border-radius: 6px;
    border: none;
    color: #FEC310;
    display: inline-block;
    font-size: 18px;
    padding: 10px 53px;
    margin-right: 50px;

}

.menu-btns{
    text-align: center;
}

.sticker-list{
    text-decoration: none;
}